div:after {
    color:          red;
    content:        "ömg";
    content:        'this" is harder';
    content:        'this\' is harder still';
    content:        "this is also '\" harderer.";
    border-color:   #FFF;
    _omg:           "this is tough";
    *omg:           "this also.";
    9omg:           "this is a bug.";
    /* This is a single-line comment. */
    /* And this,
     * is a multiline comment */
}
