div:after {
    // This is a comment.  Sorta.
    color:      red;
    content:    "omg";
    content:    'this" is harder';
    content:    'this\' is harder still';
    content:    "this is also '\" harderer.";
}
